<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns/website#">
<% include meta-tags.ejs %>
		<link rel="stylesheet" href="<%= meta.url_base %>/css/style-computational.min.css">
<% include google-tag-manager-1.ejs %>
	</head>








	<body class="computational">
<% include google-tag-manager-2.ejs %>
		<div id="page-container">
<% include header.ejs %>
			<div id="content">
				<section id="intro" class="bg-dark height-half">
					<div class="container">
						<h1>A <a href="">#SmartCreative</a> has deep technical knowledge &hellip; most likely a computer scientist. He doesn't just design concepts, he builds prototypes.</h1>

						<div class="branding">
							<a href="<%= meta.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

							<h2>Michael Mallari, MBA, CSPO, CSM</h2>
							<h3>Hybrid thinker + doer</h3>
						</div>
					</div>
				</section>




				<section id="principles" class="bg-dark height-3-4 skew-outer">
					<div class="container skew-inner">
						<div >
							<span class="tag">Principles</span>
							<h2>Moore's Law is an invitation for learning and curiosity.</h2>
							<p>Metrics for success need to be defined&mdash;how the business will acquire/delight/retain customers, cultivate positive team morale, and deliver value to shareholders.</p>
						</div>
					</div>
				</section>



<section id="content-2">
	<div class="container">
		<h2>Hands-on experience with:</h2>
		<ul class="row list-capabilities">
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Front-End</h4>
				<ul>
					<li>Semantic HTML5</li>
					<li>CSS3 + LESS/SASS</li>
					<li>JavaScript + jQuery</li>
					<li>AngularJS 1</li>
					<li>AngularJS 2 + TypeScript</li>
					<li>React + JSX</li>
					<li>Responsive Web Design (RWD)</li>
					<li><a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a></li>
					<li>Browser Compatibility</li>
					<li><a href="https://github.com/Shopify/skeleton-theme" target="_blank">Shopify Skeleton Theme</a></li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Back-End</h4>
				<ul>
					<li>Node.js + Express</li>
					<li>Python + Flask</li>
					<li>PHP (for WordPress)
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Data + DBs + Data Viz</h4>
				<ul>
					<li>MongoDB</li>
					<li>PostgreSQL</li>
					<li>MySQL</li>
					<li>D3.js</li>
					<li>RESTful JSON APIs</li>
					<li>Minitab</li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Platforms + Misc.</h4>
				<ul>
					<li>Heroku</li>
					<li>Amazon Web Services (AWS) Elastic Compute Cloud (EC2)</li>
					<li>Rackspace + Ubuntu (for LAMP stack)</li>
					<li>Google Analytics</li>
					<li>Adobe Omniture (SiteCatalyst)</li>
					<li>Raspberry Pi</li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Phased Out Technologies</h4>
				<ul>
					<li>Adobe Flash + ActionScript</li>
					<li>Adobe Director</li>
					<li>Synchronized Multimedia Integration Language (SMIL)</li>
				</ul>
			</li>
		</ul>
	</div>
</section>


<ul>
<% for(var i = 0; i < blogPostsAPI.posts.length; i++) { %>
							<li>
								<a href="<%= meta.url_base %>/computational/<%= blogPostsAPI.posts[i].slug %>"><%= blogPostsAPI.posts[i].title %></a>
							</li>
<% } %>
</ul>




			</div>
<!--/#page-container > #content -->








<% include footer.ejs %>
		</div>
<!--/#page-container -->








		<script src="<%= meta.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= meta.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= meta.url_base %>/js/functions.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.vertical-middle').css({
					'margin-top' : function() { return -$(this).outerHeight() / 2; }
				});
			});
		</script>
	</body>
</html>
