<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns/website#">
<% include meta-tags.ejs %>
		<link rel="stylesheet" href="<%= meta.url_base %>/css/style-data.min.css">
<% include google-tag-manager-1.ejs %>
	</head>








	<body class="data">
<% include google-tag-manager-2.ejs %>
		<div id="page-container">
<% include header.ejs %>
			<div id="content">
				<section id="intro" class="bg-dark height-full">
					<div class="container">
						<h1>A <a href="">#SmartCreative</a> is analytically smart. He is comfortable with data and can use it to make decisions&hellip;but doesn't let it take over.</h1>

						<div class="branding">
							<a href="<%= meta.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

							<h2>Michael Mallari, MBA, CSPO, CSM</h2>
							<h3>Hybrid thinker + doer</h3>
						</div>
					</div>
				</section>








				<section id="principles" class="height-3-4 skew-outer">
					<div class="container skew-inner">
						<div >
							<span class="tag">Principles</span>
							<h2>Calculated risk taking to risk taking.</h2>
							<p>Value data. Analyze data. Be sketical when metrics and anecdote differ. But do them in a time-boxed manner (and move forward) since most decisions and actions are reversible.</p>
						</div>
					</div>
				</section>
			</div>
<!--/#page-container > #content -->








<% include footer.ejs %>
		</div>
<!--/#page-container -->








		<script src="<%= meta.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= meta.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= meta.url_base %>/js/functions.min.js"></script>
	</body>
</html>
