<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns/website#">
<% include meta-tags.ejs %>
		<link rel="stylesheet" href="<%= meta.url_base %>/css/style-design.min.css">
<% include google-tag-manager-1.ejs %>
	</head>








	<body class="design">
<% include google-tag-manager-2.ejs %>
		<div id="page-container">		
<% include header.ejs %>
			<div id="content">
				<section id="intro" class="bg-dark height-full">
					<div class="container">
						<h1>A <a href="">#SmartCreative</a> is user smart &hellip; understands the users' or customers' perspectives &hellip; almost obsessive over their interests.</h1>

						<div class="branding">
							<a href="<%= meta.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

							<h2>Michael Mallari, MBA, CSPO, CSM</h2>
							<h3>Hybrid thinker + doer</h3>
						</div>
					</div>
				</section>








				<section id="principles" class="height-3-4 skew-outer">
					<div class="container skew-inner">
						<div >
							<span class="tag">Principles</span>
							<h2>Start with the customer and work backwards.</h2>
							<p>Keep an eye on SWOT (strengths, weaknesses, opportunities, and threats). But obsess over earning and keeping the customer's trust. Achieving that is a truly unique competitive advantage.</p>
						</div>
					</div>
				</section>








				<section id="content-2">
					<div class="container">
						<h2>Primary UX Research Methods Used:</h2>
						<ul id="ux-research-methods" class="row list-capabilities">
							<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<h4>Ask</h4>
								<ul>
									<li>Interviews</li>
									<li>Surveys</li>
									<li>Focus groups</li>
									<li>Diary studies</li>
									<li>Experience sampling</li>
								</ul>
							</li>
							<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<h4>Observe</h4>
								<ul>
									<li>Ethnographic observations</li>
									<li>User testing</li>
									<li>Usage analytics</li>
									<li>Video analytics</li>
									<li>Social media mining</li>
								</ul>
							</li>
							<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<h4>Inspect</h4>
								<ul>
									<li>Guideline-based</li>
									<li>Walkthroughs</li>
									<li>Comparative analysis</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>








			</div>
<!--/#page-container > #content -->








<% include footer.ejs %>
		</div>
<!--/#page-container -->








		<script src="<%= meta.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= meta.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= meta.url_base %>/js/functions.min.js"></script>
	</body>
</html>
