







			<footer id="footer">
				<section id="hands-on">
					<div class="container row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
							<span class="tag">Hands-on</span>
							<h2><%= content.section_hands_on.heading %></h2>
							<p><%= content.section_hands_on.copy %></p>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
							<ul id="logos">
<% for(var i = 0; i < content.section_hands_on.logos.length; i++) { %>
								<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="<%= meta.url_base %>/img/logo-<%= content.section_hands_on.logos[i].alias %>.png" class="logo vertical-middle" alt="<%= content.section_hands_on.logos[i].name %>" title="<%= content.section_hands_on.logos[i].name %>"></li>
<% } %>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</section>




				<div class="skew-outer-opposite">&nbsp;</div>
				<section id="summary">
					<div class="container">
						<div class="container-inner">
							<div class="branding">
								<img src="<%= meta.url_base %>/img/headshot.jpg" class="headshot" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM">

								<h2>Michael Mallari, MBA, CSPO, CSM</h2>
								<h3>Hybrid thinker + doer</h3>
							</div>

							<p>Michael leverages over 15 years of product, design, and engineering experience to help organizations&mdash;ranging from early-stage startups to Fortune 500 companies&mdash;deliver delightful digital customer experiences that align with business goals. <a href="" data-toggle="modal" data-target="#modal-smart-creative">#SmartCreative</a></p>

							<a href="mailto:hello@michaelmallari.com" class="btn btn-primary btn-lg hover-animation">Let's work together</a>
						</div>
					</div>
				</section>
				<section id="hello"><p>Say&nbsp;hello.&nbsp;&nbsp;<a href="mailto:hello@michaelmallari.com">hello@michaelmallari.com</a></p></section>
			</footer>
<!--/#page-container > #footer -->