<!DOCTYPE html>
<html lang="en-US">
	<head prefix="og: http://ogp.me/ns/website#">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title><%= html.head.title %> | Michael Mallari, MBA, CSPO, CSM</title>
		<link rel="apple-touch-icon" href="<%= html.body.url_base %>/img/logo-mm-pms2028c.png">
		<link rel="shortcut icon" href="<%= html.body.url_base %>/img/icon-mm-transparent.png">
		<meta name="description" content="<%= html.head.description %>">
		<link rel="canonical" href="<%= html.body.url_base %><%= html.head.url_path %>">
		<meta property="og:type" content="website">
		<meta property="og:title" content="<%= html.head.title %> | Michael Mallari, MBA, CSPO, CSM">
		<meta property="og:description" content="<%= html.head.description %>">
		<meta property="og:url" content="<%= html.body.url_base %><%= html.head.url_path %>">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@MichaelMallari">
		<meta name="twitter:title" content="<%= html.head.title %> | Michael Mallari, MBA, CSPO, CSM">
		<meta name="twitter:description" content="<%= html.head.description %>">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Open+Sans:300,400,600,700|Lato:100,300">
		<link rel="stylesheet" href="<%= html.body.url_base %>/node_modules/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="<%= html.body.url_base %>/css/style.min.css">
<% include google-tag-manager-1.ejs %>
	</head>





	<body class="<%= html.body.class %>" ng-app="michaelmallariApp">
<% include google-tag-manager-2.ejs %>
		<div id="page-container">
			<nav id="nav-primary">
				<ul><li><a href="<%= html.body.url_base %>/"><img src="<%= html.body.url_base %>/img/logo-mm-pms2028c-cutout.svg" class="logo" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a></li><li><a href="<%= html.body.url_base %>/design/"><img src="<%= html.body.url_base %>/img/icon-design.svg" alt="Design thinking + doing" title="Design thinking + doing"></a></li><li><a href="<%= html.body.url_base %>/computational/"><img src="<%= html.body.url_base %>/img/icon-computational.svg" alt="Computational thinking + doing" title="Computational thinking + doing"></a></li><li><a href="<%= html.body.url_base %>/data/"><img src="<%= html.body.url_base %>/img/icon-data.svg" alt="Data-driven thinking + doing" title="Data-driven thinking + doing"></a></li><li><a href="<%= html.body.url_base %>/business/"><img src="<%= html.body.url_base %>/img/icon-business.svg" alt="Business thinking + doing" title="Business thinking + doing"></a></li></ul>
			</nav>
<!--/#nav-primary -->





			<header id="header">
				<div id="app-name"><h2>Michael Mallari, MBA, CSPO, CSM</h2><h3>#SmartCreative</h3></div>
			</header>
<!--/#page-container > #header -->





			<div id="content">
				