<!DOCTYPE html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns/website#">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title><%= html.head.title %></title>
		<meta name="alexaVerifyID" content="SNUxTDOF0N4pt-fK0OwNvrv7yIw">
		<link rel="apple-touch-icon" href="/img/logo-mm-pms2028c.png">
		<link rel="shortcut icon" href="/img/icon-mm-transparent.png">
		<meta name="description" content="<%= html.head.description %>">
		<link rel="canonical" href="<%= html.head.canonical %>">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@MichaelMallari">
		<meta property="og:title" content="<%= html.head.title %>">
		<meta property="og:type" content="website">
		<meta property="og:url" content="<%= html.head.canonical %>">
		<meta property="og:description" content="<%= html.head.description %>">
		<script src="/js/angular.min.js"></script>
		<script src="/js/app-angular.js"></script>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Open+Sans:300,400,600,700|Lato:100">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/style.css">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-6570849-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>





	<body class="<%= html.body.class %>" ng-app="michaelmallariApp">
		<div id="page-container">
			<nav id="nav-primary">
				<ul>
					<li><a href="/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo" alt="Michael Mallari, MBA, CSPO, CSM" title="Michael Mallari, MBA, CSPO, CSM"></a></li>					
					<li class="pull-left"><a href="/design"><img src="/img/icon-design.svg" alt="Design (thinking + doing)" title="Design (thinking + doing)"></a></li>
					<li class="pull-left"><a href="/computational"><img src="/img/icon-computational.svg" alt="Computational (thinking + doing)" title="Computational (thinking + doing)"></a></li>
					<li><a href="/data"><img src="/img/icon-data.svg" alt="Data (thinking + doing)" title="Data (thinking + doing)"></a></li>
					<li><a href="/business"><img src="/img/icon-business.svg" alt="Business (thinking + doing)" title="Business (thinking + doing)"></a></li>
				</ul>
			</nav>
<!--/#nav-primary -->





			<header id="header">
				<div id="app-name"><h2>Michael Mallari, MBA, CSPO, CSM</h2><h3>#SmartCreative</h3></div>
			</header>
<!--/#page-container > #header -->





			<div id="content">
				