				<a href="<%= html.body.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

				<nav id="nav-primary">
					<ul>
						<!-- <li><a href="<%= html.body.url_base %>/design/" class="hover-animation" alt="Product thinking + doing" title="Product thinking + doing">Prod</a></li> -->
						<li><a href="<%= html.body.url_base %>/design/" class="hover-animation" alt="Design thinking + doing" title="Design thinking + doing">DSGN</a></li>
						<li><a href="<%= html.body.url_base %>/computational/" class="hover-animation" alt="Computational thinking + doing" title="Computational thinking + doing">COMP</a></li>
						<li><a href="<%= html.body.url_base %>/data/" class="hover-animation" alt="Data-driven thinking + doing" title="Data-driven thinking + doing">DATA</a>
						<!-- <li><a href="<%= html.body.url_base %>/blog/" class="hover-animation" alt="Blog" title="Blog">Blog</a></li> -->
					</ul>
				</nav>