			<header id="header">
				<a href="<%= meta.url_base %>/"><img src="<%= meta.url_base %>/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

				<nav id="nav-primary">
					<ul>
						<li><a href="<%= meta.url_base %>/design/" class="hover-animation" alt="Design thinking + doing" title="Design thinking + doing">DSGN</a></li>
						<li><a href="<%= meta.url_base %>/computational/" class="hover-animation" alt="Computational thinking + doing" title="Computational thinking + doing">COMP</a></li>
						<li><a href="<%= meta.url_base %>/data/" class="hover-animation" alt="Data-driven thinking + doing" title="Data-driven thinking + doing">DATA</a>
					</ul>
				</nav>
			</header>
<!--/#page-container > #header -->







