<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns/website#">
<% include meta-tags.ejs %>
		<link rel="stylesheet" href="<%= meta.url_base %>/css/style-home.min.css">
<% include google-tag-manager-1.ejs %>
	</head>








	<body class="home">
<% include google-tag-manager-2.ejs %>
		<div id="page-container">
<% include header.ejs %>
			<div id="content">
				<section id="intro" class="bg-dark height-half">
					<div class="container">
						<h1>Need to achieve product-market fit and get your MVP tests off the ground before building a team? Say hello to your <a href="" data-toggle="modal" data-target="#modal-smart-creative">#SmartCreative</a>.</h1>

						<div class="branding">
							<a href="<%= meta.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

							<h2>Michael Mallari, MBA, CSPO, CSM</h2>
							<h3>Hybrid thinker + doer</h3>
						</div>
					</div>
				</section>








				<section id="principles" class="height-3-4 skew-outer">
					<div class="container skew-inner">
						<div >
							<span class="tag">Principles</span>
							<h2>It's never sufficient to just build out an idea.</h2>
							<p>Metrics for success need to be defined&mdash;how the business will acquire/delight/retain customers, cultivate positive team morale, and deliver value to shareholders.</p>
						</div>
					</div>
				</section>








				<section id="brands">
					<div class="container">
						<div class="container-inner">
							<span class="tag">Stakeholder Management</span>
							<h2>Adaptable to various industries</h2>
							<p>During his first 100 days, Michael puts on his &ldquo;MBA hat&rdquo; to rapidly create momentum&mdash;accelerating his learnings (about markets, products, systems, structures, politics, etc.), securing early wins, negotiating success, and achieving alignment (among other things). His ability to successfully adapt is illustrated by the list of brands he has worked with below:</p>
						</div>
					</div>

					<ul id="brand-logos">
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-amex.svg" alt="American Express" title="American Express" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-bbva.png" alt="BBVA" title="BBVA" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-gap.svg" alt="Gap" title="Gap" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marriott.svg" alt="Marriott" title="Marriott" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marvel.svg" alt="Marvel" title="Marvel" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-nasdaq.svg" alt="Nasdaq" title="Nasdaq" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-upenn.svg" alt="University of Pennsylvania" title="University of Pennsylvania" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="logo vertical-middle"></li>
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-rockefeller.svg" alt="Rockefeller University" title="Rockefeller University" class="logo vertical-middle"></li>
					</ul>
					<div class="clearfix"></div>
				</section>
			</div>
<!--/#page-container > #content -->
<% include footer.ejs %>
		</div>
<!--/#page-container -->
<% include modal-smart-creative.ejs %>








		<script src="<%= meta.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= meta.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= meta.url_base %>/js/functions.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.vertical-middle').css({
					'margin-top' : function() { return -$(this).outerHeight() / 2; }
				});
			});
		</script>
	</body>
</html>
