<!DOCTYPE html>
<html lang="en" ng-app="michaelmallariApp">
	<head prefix="og: http://ogp.me/ns/website#">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title><%= html.head.title %></title>
		<link rel="apple-touch-icon" href="/img/logo-mm-pms2028c.png">
		<link rel="shortcut icon" href="/img/icon-mm-transparent.png">
		<meta name="description" content="<%= html.head.description %>">
		<link rel="canonical" href="<%= html.head.canonical %>">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@MichaelMallari">
		<meta property="og:title" content="<%= html.head.title %>">
		<meta property="og:type" content="website">
		<meta property="og:url" content="<%= html.head.canonical %>">
		<meta property="og:description" content="<%= html.head.description %>">
		<script src="/js/angular.min.js"></script>
		<script src="/js/app-angular.js"></script>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>


	<body>
		<div id="page-container">
			<header id="header">

			</header>
<!--/#page-container > #header -->





			<div id="content">

			</div>
<!--/#page-container > #content -->





			<footer id="footer">

			</footer>
<!--/#page-container > #footer -->
		</div>
<!--/#page-container -->





		<script src="/js/jquery-3.1.0.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/functions.js"></script>
		<script>

		</script>
	</body>
</html>
